<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
  </head>

  <body>
  <div>
  <% if @current_user%>
  <p class="userheader">
  Welcome <%= @current_user.first_name%>
  <%= link_to "Sign-Out", destroy_session_path, method: "delete"%>
  </p>
  <% end %>
</div>
  <% if flash[:error] %>
  <p class="Flash">
  <%= flash[:error] %>
  </p>
  <%end%>
    <%= yield %>
  </body>
</html>
